
input{
	outline: none !important;
	outline-offset: 0px;
	border: 0;
	padding: 0;
	margin: 0;
	background-color: rgba(14, 225, 240, 0);
	border-bottom:1px solid gray;
	width: 100%;
	
}
input::placeholder {
	color: black;
	font-size: 20px;
  }
.wrapToDo{
	width: 100%;
	margin: 5px;
}

.tasks{
	display: flex;
	flex-direction: row;
	width: 100%;
	.wrapInput{
		width: 100%;
	}
	.inputTask{
		font-size: 14px;
		margin-bottom: 5px;
		margin-right: 15px;
		width: calc(100% - 35px);
	}
	.basket{
		color: red;
		margin-top: 6px;
		cursor: pointer;
	}
	.check{
		padding-left: 8px;
		padding-right: 12px;
		margin-top: 6px;
		cursor: pointer;
	}
	.checked{
		padding-left: 8px;
		padding-right: 8px;
		margin-top: 6px;
		cursor: pointer;
		color: green;
		animation: scaling 1s;
	}
	.changeTask{
		margin-top: 6px;
		padding-right: 15px;
		cursor: pointer;
	}
	.task{
		width: 100%;
		height: 20px;
		margin-bottom: 15px;
		border-bottom:1px solid gray;
	}
	.saveTask{
		margin-top: 6px;
		color: blue
	}
	.addIconPlus{
		margin-top: 6px;
		padding-left: 15px;
		padding-right: 15px;
		cursor: pointer;
		color: blue;
		&:active {
			animation: scalingPlus 1s;
		}
	}
}

.subTask{
	padding-left: 30px;
}
@keyframes scaling {
	From {
		-webkit-transform: scale(1.0);
	}
	To {
		-webkit-transform: scale(2.0);
	}
  }
@keyframes scalingPlus {
	From {
		-webkit-transform: scale(1.0);
	}
	To {
		-webkit-transform: scale(-1.0);
	}
}